<div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
  <div class="author-certs">
    <span class="cert-badge">CPTS</span>
    <span class="cert-badge">CAPE</span>
    <span class="cert-badge">eJPT</span>
    <span class="cert-badge">MalDev</span>
    <span class="cert-badge cert-badge--prolab">Offshore</span>
    <span class="cert-badge cert-badge--prolab">Wutai</span>
    <span class="cert-badge cert-badge--prolab">Ifrit</span>
  </div>
  <div class="author-links">
    <a href="https://github.com/{{ site.author.github }}" target="_blank" rel="noopener" title="GitHub">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://linkedin.com/in/{{ site.author.linkedin }}" target="_blank" rel="noopener" title="LinkedIn">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" rel="noopener" title="Twitter / X">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://app.hackthebox.com/profile/1534609" target="_blank" rel="noopener" title="Hack The Box">
      <i class="fas fa-cube"></i>
    </a>
  </div>
</div>
